@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
    background-color: whitesmoke;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: green;
}

button {
    cursor: pointer;
}

.zagolovok {
    color: yellow;
}

.zagolovok-main {
    color: red;
}

.zagolovok-second {
    color: blueviolet;
}

.link {
    color: red;
}

.my_list {
    width: 100%;
    height: 200px;
    background: red;
}

.current_page {
    background: gray;
    color: black;
}

.current_page a {
    color:black;
}

button.my_button_add {
    background-color: chartreuse;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    transition: all .3s ease;
}

button.my_button_edit {
    background-color: yellow;
    color: white;
    font-size: 22px;
    border: 1px solid chartreuse;
    padding: 20px;
    margin: 50px;
    /* border-radius: 20px; */
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;

    transition: all .3s ease;
}

button.my_button_remove {
    background: red;
    color: white;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    transition: all .3s ease;
}

button.my_button_edit:hover {
    padding: 50px;
    background-color: green;
    border-radius: 20px;
}

button.my_button_remove:hover {
    background-color: black;
}

button.my_button_add:hover {
    background-color: aqua;
}

.main_info {
    background-image: url("https://i.ytimg.com/vi/E0hnI4_egl8/maxresdefault.jpg");
}


.flexboxes {
    height: 300px;
    width: 100%;
    border: 1px solid gray;
    background: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.one-flex {
    padding: 20px;
    margin: 10px;
    background: blue;
}

.uzhnet {
    display: flex;
    background: blue;
    justify-content: space-between;
}

.logo-side {
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
}

.menu-side {
    background: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.logo-name-content {
    font-size: 25px;
}


.action {
    display: flex;
}

.social {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-img img {
    width: 100%;
}

ul.main-menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

ul.main-menu li {
    padding: 1em;
    background: hsl(0,0%,90%);
    border: 1px solid hsl(0,0%,85%);
    color: hsl(0,0%,25%);
    transition: all .3s ease;
    cursor:pointer;
}

ul.main-menu a {
    text-decoration: none;
    color: inherit;
}

ul.main-menu li:hover {
    background: hsl(0,0%,40%);
    color: hsl(0,0%,90%);
}

.news {
    display: flex;
    flex-wrap: wrap;
    /*background: yellow;*/
}

.one-news {
    width: calc(33% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid hsl(0,0%,70%);
    background: hsl(0,0%,85%);
    margin: 20px;
    padding: 1em;
    box-sizing: border-box;
}

.one-news-name {
    font-size: 30px;
}

@media screen and (max-width: 450px) {
    ul.main-menu {
        flex-direction: column;
    }
}

@media screen and (min-width: 571px) and (max-width: 850px) {
    .one-news {
        width: calc(50% - 40px);
    }

    .news {
        background: red;
    }
}

@media screen and (max-width: 570px) {
    .one-news {
        width: calc(100% - 40px);
    }

    .news {
        background: green;
    }
}


header {
    display: flex;
    background-color: #002230;
    color: white;
}

.left-side {
    display: flex;
    width: 75%;
}

.right-side {
    display: flex;
    width: 25%;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0;
    /* padding-bottom: 10px; */
}

.main-menu {
    display: flex;
    width: 85%;
}

.logo {
    width: 15%;
}

.one-menu-item {
    width: calc(100%/5);
    /* padding: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
}

.download-btn {
    width: 60%;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgba(205, 220, 57, 0.89);
    color: #002D40;
    padding: 10px;
    border-radius: 30px;
    font-weight: 800;
    margin-right: 5%;
}

.one-menu-item:hover {
    background: rgba(255,255,255,0.1);
}


.wizard-block {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 80%; */
    padding: 100px;
    background-image: url(https://www.wtfast.com/wp-content/uploads/2017/06/altHero-1920px.jpg);
}

.wizard-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 100px 0;
}

.wizart-top-name {
    font-size: 45px;
    color: white;
}

.wizard-right {
    width: 50%;
}

.wizard-desc-first {
    font-size: 20px;
    margin: 10px 0;
    color: #009D89;
}

.wizard-desc-second {
    color: white;
}

.content-block {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #002230;
}

h1.text {
    color: white;
    letter-spacing: 8px;
}

.text-with-border span.border {
    width: 50%;
    border-bottom: 1px solid white;
    margin-top: 10px;
    transition: all .3s ease;
    /* cursor: pointer; */
}

.text-with-border {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.text-with-border:hover span.border {
    width: 100%;
}

@media screen and (max-width: 450px) {

    header {
        flex-direction: column;
    }

    .left-side {
        width: 100%;
        flex-direction: column;
    }

    .right-side {
        width: 100%;
        justify-content: center;
    }

    .download-btn {
        margin-right: 0;
    }

    .logo {
        width: 100%;
    }

    .main-menu {
        width: 100%;
        flex-direction: column;
    }

    .one-menu-item {
        width: 100%;
        font-size: 20px;
        padding: 1em;
        box-sizing: border-box;
        border-bottom: 1px solid rgba(255,255,255,.3);
    }

    .one-menu-item:first-child {
        border-top: 1px solid rgba(255,255,255,.3);
    }

    .wizard-block {
        padding: 0;
        flex-direction: column;
    }

    .wizard-left {
        width: 80%;
        text-align: center;
    }

    .wizard-right {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 1em;
        box-sizing: border-box;
    }

    .text-with-border {
        text-align: center;
    }

}



.reklama {
    position: fixed;
    right: 0;
    top: 20%;
}

.reklama-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 200px;
    background: url(mandarin.jpg);
    /* position: relative; */
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    overflow: hidden;
    border-radius: 14px;
    position: relative;
}

.reklama-container h1 {
    font-size: 24px;
    color: white;
    z-index: 10;
}

.reklama-container span.white_back {
    background: rgba(0,0,0,.3);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 5;
}

.to_click {
    animation-name: to_click_action;
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
}

.gogogo {
    animation-name: gogogo;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}



/* The animation code */
@keyframes to_click_action {
    from {
        color: red;
        font-size: 18px;
    }
    to {
        color: yellow;
        font-size:25px;
    }
}

/* The animation code */
@keyframes gogogo {
    0% {
        right: 0;
        top: 20%;
    }
    25% {
        right: 60%;
        top: 60%;
    }
    80% {
        right: 0%;
        top: 80%;
    }
    100% {
        right: 80%;
        top: 0%;
    }
}


.js-btn {
    padding: 1em;
    background: hsl(0,0%,80%);
    margin: 5px;
    transition: all .3s ease;
}

.main_container {
    display: flex;
    justify-content: center;
}

.second_container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
}
.anima_block {
    height: 100vh;
}

.anima_block_second {
    height: 100vh;
}
.anima_block {
    background: rgba(180,180,180,.6);
    height: 100vh;
    box-shadow: 0 0 10px;
}

.non-visible {
    opacity: 0;
}